@import './searchBar';
@import './recentPosts';
@import './post';
@import './home';
@import './results';

.post-topic {
    margin: 0 4px;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
}

@mixin default-page-layout {
    height: 100vh;
    width: 66vw;
    display: grid;
    align-content: space-around;
}

.home {
    @include default-page-layout;
}
.results {
    @include default-page-layout;
}

.logo-main,
.recent-posts {
    display: grid;
    justify-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: square;
}

$color-gray-one: #666666;
$color-grey-two: #B3B3B3;
$color-blue-one: #0079ff;

